.hero_ttl {
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin: 30px 0 0 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #ff5c00;
}
